# ModelDB

How to keep track of your models in development and production

In [ ]:
import sys
sys.path.append("/Users/j.oberreuter/Dropbox (datareply)/Projekte/Talanx/code/modeldb/client/python")
from sklearn import cross_validation
from sklearn.linear_model import LogisticRegression
from sklearn.ensemple import RandomForestClassifier

In [ ]:
from modeldb.sklearn_native.ModelDbSyncer import *
from modeldb.sklearn_native import SyncableMetrics

### Load and prepare the dataset

In [10]:
df = pd.read_csv('bank-full.csv', sep =';')

In [11]:
df.shape

(45211, 17)

In [12]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [13]:
import preprocessing

In [14]:
df_enc = preprocessing.encode(df)

In [15]:
df_enc.shape

(45211, 11)

In [16]:
df_enc.head()

,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,marital_divorced,marital_married,marital_single,balance,pdays,previous,campaign
0,0,0,0,1,0,1,0,0.007088,-0.04709,-0.00211,-0.028449
1,0,0,0,1,0,0,1,-0.012105,-0.04709,-0.00211,-0.028449
2,0,0,0,1,0,1,0,-0.012350,-0.04709,-0.00211,-0.028449
3,0,0,0,1,0,1,0,0.001305,-0.04709,-0.00211,-0.028449
4,0,0,0,1,0,0,1,-0.012359,-0.04709,-0.00211,-0.028449

In [17]:
df_y = df.y.map({'yes': 1, 'no': 0})

### Initialize ModelDB

initialize syncer explicitly

In [ ]:
syncer_obj = Syncer(
        NewOrExistingProject("proj_name", "username", "proj_description"),
        NewOrExistingExperiment("exp_name", "exp_desc"),
        NewExperimentRun("simple sample test"))

### Use ModelDB

When you want to log an operation to ModelDB, use the ModelDB sync variants of functions by appending _sync to the method call. So the original fit calls from scikit-learn would turn into fit_sync, save calls would turn into save_sync and so on.

In [ ]:
x_train, x_test, y_train, y_test = cross_validation.train_test_split_sync(df, target, test_size=0.2)
lr = LogisticRegression()
lr.fit_sync(x_train, y_train)
y_pred = lr.predict(x_test)

## Exercises

1. Create models with a few different algorithms for your dataset of choice. Decide which ones to tune the hyperparameters for. Track your progress in ModelDB
2. Rearrange your data to mock drift. You can also (manually) create fake data for this. Track model deterioration and have it act on it, e.g. by automated retraining.
3. Use a metric of your choice (earth movers distance, Kullback-Leibler divergence, ...) to detect if the distribution of your input data or the predictions of your model change.